/*I guess you can override these...*/
body {
    color: #TEXTCOLOR;
}
a{
    color: #N_LINK_COLOUR;
}
.quote {
    color: #QUOTECOLOUR;
}
.quotelink {
    color: #QLC;
    text-decoration: underline;
}
.replylink {
    color: #RLC;
    text-decoration: underline;
}
.deadlink {
    color: red;
}